h1{
font-size:200px;
}

a{
color:#FF0000;
}

#a1{
font-size:100px;
}

#a2{
font-size:90px;
}

#a3{
font-size:80px
}

#a4{
font-size:70px;
}

#a5{
font-size:60px;
}

#a6{
font-size:50px;
}

#a7{
font-size:40px;
}

#a8{
font-size:30px;
}

#a9{
font-size:20px;
}